{% extends "base.html" %}
{% block title %}Searched Movies {% endblock %}

{% block content %}
<html>    
    <head>    
        <title>{{t}}</title>    
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >    
    </head>    
<body>    
    <h1>{{h}}</h1>    
    <hr>    
        {% if movies[0] %}    
    <h3>Result of the Search movies</h3>    
    <table>    
        <tr id="row">    
            <td class="name">Movies Name</td>    
            <td class="summary">Movies Summary</td>    
            <td class="img">Movies Image</td>    
        <td class="func">Delete Movies</td>    
        <td class="func">Modify Movies</td>    
        </tr>    
        {% for movie in movies %}    
        <tr class="datas">    
            
            <td class="name">{{ movie["name"] }}</td>    
            <td class="summary">{{ movie["summary"] }}</td>    
            <td class="img">{{ movie["img"] }}</td>    
            <td class="func1"><a href="./remove?_id={{ movie['_id'] }}"><button type="submit">DELETE Movie</button></a></td>    
            <td class="func1"><a href="./update?_id={{ movie['_id'] }}"><button type="submit">EDIT Movie</button></a></td>    
        </tr>    
        {% endfor %}    
    {% else %}    
        <h4>No Movies Found !!</h4>    
    {% endif %}    
    </table>    
   <a href="/library">Return to Movie List</a>    
</body>    
</html>

{% endblock %}